.header-main {
  text-align: center;
  display: flex;
  justify-content: center;
}
.header{
  background-color: antiquewhite;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;

}
.stations{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.statiton-img{
  width: 200px;
  height: 200px;
}
.statiton-img img{
  width: 200px;
  height: 200px;
}
.station-name{
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.station-type{
  display: block;
  text-align: center;
}
.station-card{
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}
.play-button{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.play-button a{
  padding: 5px 40px;
  border: 1px solid gray;
  text-decoration: none;
}
.play-button a:hover{
  
  text-decoration: underline;
}